body{
 background: blueviolet;
}
#div-main{
    width: 41%;
    margin-left: 32%;
    margin-top: 10%;
}
H1{
    text-align: center;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-style: initial;
    font-weight: bold;
}
#enviar{
    text-align: center;
    margin-left: 42%;
    margin-top: 2%;
}
@media screen and (max-width: 600px) {

	/* disable webkit text size adjust (for iPhone) */
	#div-main {
        width: 50%;
        margin-left: 15%;
    }
}
@media screen and (max-width: 500px) {

	/* disable webkit text size adjust (for iPhone) */
	#div-main {
        width: 80%;
        margin-left:8%;
    }
}